<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">/home/carfree/logs</property>
        <property name="LOG_FILE_NAME">carfree-biz-service</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="infoLog"
                                 fileName="${LOG_HOME}/${LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${LOG_FILE_NAME}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>

        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="infoLog"/>
        </root>
    </Loggers>
</Configuration>